/* index.wxss */
.header-info {
  padding: 30rpx;
  background: #FFFFFF;
  border-bottom: 1rpx solid #f0f0f0;
}

.form-title {
  font-size: 36rpx;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.survey-container {
  padding: 20rpx;
  background-color: #f5f5f5;
}

.form-item {
  background: white;
  padding: 30rpx;
  margin-bottom: 20rpx;
  border-radius: 10rpx;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.label {
  font-size: 40rpx;
  color: #333;
  margin-right: 20rpx;
  min-width: 200rpx;
}

.input {
  flex: 1;
  border: 1rpx solid #ddd;
  padding: 20rpx;
  border-radius: 8rpx;
  font-size: 40rpx;
}

.input-short {
  width: 120rpx;
  border: 1rpx solid #ddd;
  padding: 20rpx;
  border-radius: 8rpx;
  font-size: 28rpx;
  text-align: center;
  margin: 0 10rpx;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
}

.radio-label {
  margin-right: 40rpx;
  font-size: 35rpx;
  display: flex;
  align-items: center;
}

.unit {
  font-size: 40rpx;
  color: #666;
  margin: 0 10rpx;
}

.submit-btn {
  margin-top: 40rpx;
  padding: 0 30rpx;
}

.submit-btn button {
  width: 100%;
}

